// Fonts
@import "fonts";
// Variables
@import "variables";
// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//own stuff

*, *:hover, *:focus, *:active {
  font-family: "SF Display", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  outline: 0;
  transition: 0.1s ease;
}

.archived {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.archivedtext {
  color: red;
}

.grid {
  width: 80%;
  margin: auto;
  height: auto;
  &-link {
    color: black;
  }
  &-link:hover {
    color: black;
  }
  .grid-item {
    width: percentage(.85/3);
    margin: 0 2.5% 50px 2.5%;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    transition: 0.1s ease;
    &-content {
      position: relative;
    }
    h1 {
      margin-bottom: 20px;
      margin-top: -20px;
    }
    .tagblock {
      background-color: #3d6983;
      color: white;
      border-radius: 5px;
      padding: 3px 6px;
      margin-bottom: 10px;
    }
    .indexContent {
      margin: 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .blogPics {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .byUser {
      position: relative;
      top: -35px;
    }
    .blogPicProfile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;
      border: 4px solid white;
      top: -25px;
      left: -35%;
    }
  }
  .grid-item:hover {
    transform: scale(1.01);
    transition: 0.2s ease;
    box-shadow: 0px 3px 20px #AAAAAA;
  }
}

.loading {
  background: white;
  height: 100%;
  width: 100%;
  z-index: 999;
  position: fixed;
  h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navbar {
  margin-bottom: 0 !important;
  position: fixed;
  z-index: 1000;
  width: 100%;
  &-default {
    border: 0 !important;
  }
  &-brand {
    margin-top: 10px;
    padding: 14px 30px;
  }
  .createBtn {
    margin-top: 15px;
  }
  .dropdown {
    margin-top: 10px;
  }
}

.content {
  padding: 100px 0 0 0;
  overflow: auto !important;
  height: 100vh;
}

#postImg {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post {
  margin-bottom: 50px;
}

.post-title {
  @extend .post;
  h1 {
    font-weight: bolder;
  }
}

.post-content {
  @extend .post;
}

.post-actions {
  @extend .post;
  .action-link {
    font-size: 2em;
    padding: 0 10px;
  }
}

.commentPost {
  margin: 20px 0;
  .commentAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
  }
  .commentDiv {
    float: left;
    margin-left: 20px;
    max-width: 90%;
    .deletecomment {
      margin-left: 10px;
    }
  }
}

.form-group-like {
  @extend .form-group;
  width: 30px;
  float: left;
  margin-right: 10px;
  .btn-like {
    margin-top: -7px;
  }
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #ccd0d2;
}

.form-textarea {
  resize: none;
  outline: 0;
  height: 100px !important;
}

.fb_iframe_widget {
  margin-top: -8px;
  margin-bottom: 6px;
  vertical-align: middle;
}

.btn-like, .action-link, .deletecomment, .btn-success {
  &:hover {
    filter: grayscale(0.3);
  }
}

#redditBtn {
  height: 20px;
  vertical-align: initial;
  &:hover {
    filter: grayscale(0.3);
  }
}

.redditLink:hover {
  text-decoration: none;
}

.socialshare, .like {
  margin: 0 0 50px 0;
  float: left;
  max-width: 500px;
}

.socialshare {
  margin-top: 17px;
}

.like {
  width: 15%;
  min-width: 75px;
  max-width: 300px;
}

.activeFront {
  font-weight: bold;
}

.row {
  margin: 0 50px;
}

.left, .right {
  height: 100%;
  width: 50%;
  float: left;
}

.left {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  .imageDiv {
    position: relative;
    height: 90%;
  }
}

.right {
  overflow-y: scroll;
}

.btn {
  border: none;
}

body {
  background-color: white;
}

table {
  margin: 0 auto;
}

table tbody tr th {
  padding: 30px 50px;
}

table tbody tr td {
  padding: 5px 50px;
}

