// Fonts
@import "fonts";
// Variables
@import "variables";
// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//own stuff

*, *:hover, *:focus, *:active {
  font-family: "SF Display", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  transition: 0.1s ease;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: black;
}

h1 {
  font-weight: 800;
}

.btn, a {
  outline: 0;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

.archived {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.archivedtext {
  color: red;
}

.grid {
  width: 80%;
  margin: auto;
  height: auto;
  &-link {
    color: black;
  }
  &-link:hover {
    color: black;
    text-decoration: none;
  }
  .grid-item {
    width: percentage(.85/3);
    margin: 0 2.5% 50px 2.5%;
    border-radius: 10px;
    //border: 1px solid lightgrey;
    background-color: white;
    transition: 0.1s ease;
    &-content {
      position: relative;
    }
    h1 {
      margin-bottom: 20px;
      margin-top: -30px;
      text-align: left;
      padding: 5px 20px;
    }
    .indexContent {
      margin: 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      text-align: justify;
    }
    .blogPicsDiv {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      .blogPics {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .byUser {
      position: relative;
      top: -40px;
      text-align: right;
      padding-right: 20px;
      font-size: 1.2em;
      font-weight: 500;
    }
    .blogPicProfile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;
      border: 4px solid white;
      top: -25px;
      left: -35%;
    }
  }
  .grid-item:hover {
    transform: scale(1.01);
    transition: 0.2s ease;
    box-shadow: 0px 3px 20px #AAAAAA;
  }
}

.loading {
  background: white;
  height: 100%;
  width: 100%;
  z-index: 999;
  position: fixed;
  h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navbar {
  margin-bottom: 0 !important;
  position: fixed;
  z-index: 1000;
  width: 100%;
  &-default {
    border: 0 !important;
  }
  &-brand {
    margin-top: 10px;
    padding: 14px 30px;
  }
  .createBtn {
    margin-top: 15px;
  }
  .dropdown {
    margin-top: 10px;
  }
}

.userLink{
  text-decoration: none;
  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
}

a:hover {
  text-decoration: none;
}

.content {
  padding: 100px 0 0 0;
  overflow: auto !important;
  height: 100vh;
}

.checkbox {
  display: inline-block;
}

.postImg {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tags {
  text-align: justify;
  padding: 3px 20px;
  form {
    display: inline-block;
  }
}

.tagName {
  font-size: 4em;
  text-transform: capitalize;
}

.tagblock {
  background-color: #3d6983;
  color: white;
  border-radius: 5px;
  height: 28px;
  padding: 3px 6px;
  display: inline-block;
  margin: 3px;
  text-align: left;
  border: none;
  &:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.1);
  }
}

.post {
  margin-bottom: 50px;
}

.profileTop {
  width: 80%;
  min-height: 150px;
  margin: auto;
  padding: 0 2.5%;
  .profilePic {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    margin-right: 25px;
  }
  .profileName, .profileSettings {
    float: left;
    margin-right: 20px;
  }
  .profileSettings {
    margin-right: 2.5%;
    margin-top: 40px;
  }
  #settings {
    display: none;
    margin: 30px 0 60px 0;
    border: 1px solid transparent;
    .form-group {
      width: 50%;
      float: left;
      text-align: center;
    }
  }
}

canvas {
  display: none;
}

.post-content {
  @extend .post;
}

.post-actions {
  @extend .post;
  .action-link {
    font-size: 2em;
    padding: 0 10px;
  }
}

.commentPost {
  margin: 20px 0;
  .commentAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
  }
  .commentDiv {
    float: left;
    margin-left: 20px;
    max-width: 90%;
    .deletecomment {
      margin-left: 10px;
    }
  }
}

.fb-share-button span {
  vertical-align: top !important;
}

.form-group-like {
  @extend .form-group;
  width: 30px;
  float: left;
  margin-right: 10px;
  .btn-like {
    margin-top: -7px;
  }
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #ccd0d2;
}

.form-textarea {
  resize: none;
  outline: 0;
  height: 100px !important;
}

.fb_iframe_widget {
  margin-top: -4px;
  margin-bottom: 6px;
  vertical-align: middle;
}

.btn-like, .action-link, .deletecomment, .btn-success {
  &:hover {
    filter: grayscale(0.3);
  }
}

#redditBtn {
  height: 20px;
  vertical-align: initial;
  &:hover {
    filter: grayscale(0.3);
  }
}

.redditLink:hover {
  text-decoration: none;
}

.socialshare, .like {
  margin: 0 0 50px 0;
  float: left;
  max-width: 500px;
}

.socialshare {
  margin-top: 17px;
}

.notloggedin {
  margin-top: 2px;
}

.like {
  width: 15%;
  min-width: 115px;
  max-width: 300px;
}

.activeFront {
  font-weight: bold;
}

.row {
  margin: 0 50px;
}

.left, .right {
  height: 100%;
  width: 50%;
  float: left;
}

.left {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  .imageDiv {
    position: relative;
    height: 90%;
  }
}

.right {
  overflow-y: scroll;
}

.btn {
  border: none;
}

.profile-info {
  margin-bottom: 30px;
}

.editImage {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: white;
}

table {
  margin: 0 auto;
}

table tbody tr th {
  padding: 30px 50px;
  text-align: center;
}

table tbody tr td {
  padding: 5px 50px;
}

.pagination > li > a, .pagination > li > span {
  border: none;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  color: black;
  border: none;
  background-color: transparent;
}

.progress {
  margin: 30% auto;
  width: 80%;
}

@media only screen and (max-width: 1400px) {
  .grid, .profileTop {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .grid, .profileTop {
    width: 95%;
  }
}

@media only screen and (max-width: 1100px) {
  .grid, .profileTop {
    width: 80%;
    .grid-item {
      width: percentage(.9/2);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .left, .right {
    width: 100%;
    height: auto;
  }
  .left {
    .imageDiv {
      position: static;
      .postImg {
        position: static;
        transform: translate(0, 0);
      }
    }
  }
  .like {
    min-width: 115px;
  }
  .post-actions {
    clear: both;
  }
}

@media only screen and (max-width: 850px) {
  .grid, .profileTop {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: transparent;
  }
  .navbar-collapse, .navbar-toggle {
    border: none;
  }
  .navbar-collapse {
    background-color: white;
  }
  .navbar-toggle {
    .icon-bar {
      width: 40px;
      margin-bottom: 10px;
      height: 4px;
      border-radius: 6px;
    }
  }
  .navEl {
    width: 100%;
    margin-top: 50px;
    .dropdown {
      .dropdown-menu {
        li {
          display: inline-block;
          width: 50%;
          float: left;
          padding: 10px;
        }
      }
      .dropdown-toggle {
        position: static !important;
        margin: 20px 0 10px 0;
        padding: 0 50px;
        img {
          position: static !important;
        }
      }
    }
  }
  .navEl33 {
    width: percentage(1/3);
    padding: 14px 0;
    text-align: center;
  }
  .postContent {
    padding-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  .grid, .profileTop {
    width: 95%;
  }
}

@media only screen and (max-width: 700px) {
  .grid, .profileTop {
    width: 80%;
    .grid-item {
      width: 95%;
      .blogPicsDiv {
        max-height: 350px;
        overflow: hidden;
        //https://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
        .blogPics {
        }
      }
    }
  }
  .commentDiv {
    width: calc(100% - 52px);
  }
}

@media only screen and (max-width: 600px) {
  .profileTop {
    .profilePic {
      width: 80px;
      height: 80px;
    }
    .profileName, .profileSettings {
      margin-top: 25px;
    }
    .profileName {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 515px) {
  .profileTop {
    min-height: 100px;
    .profilePic {
      display: none;
    }
    .profileName {
      font-size: 36px;
    }
  }
  .row {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 430px) {
  .profileTop {
    .profileName {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .grid, .profileTop {
    width: 90%;
    .grid-item {
      h1 {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 335px) {
  .profileTop {
    .profileName {
      font-size: 28px;
    }
    #settings {
      margin-bottom: 90px;
    }
  }
}

